@media(max-width:72rem){
    /*1150px / 16px = 72rem */
    /* 72rem *  16px = 1152px */
    html{
        font-size: 56.25%;
        /*9px / 16px = 56.25% */
    }
    .features-grid-container{
        column-gap:2rem;
    }
    .cta-section{
        margin-bottom:10rem;
    }
}
@media(max-width:51rem){
html{
    font-size:50%;
}
}
@media(max-width:43rem){
    html{
        font-size:43.7%;
    }
    .cta-card{
        padding: 8rem 16rem;
    }
    .features-section{
        margin-bottom:20rem;
    }
    .features-grid-container{
        row-gap: 5rem;
        column-gap:0.5rem;
    }
    @media (max-width:34rem)
    {
        html{
            font-size:37.5%;
        }
        .hero-heading-break{
            display:none;
        }
        .hero-section{
            height:auto;
        }
        .features-grid-container{
            grid-template-columns:1fr;
        }
        .features-img-swap-order{
            grid-row:auto;
            grid-column:auto;
        }
        .cta-card{
            padding: 8rem 16rem;
        }
    }

}
